body {
  color: #222;
  font-family: sans-serif;
  line-height: 1.5;
  margin: 1rem;
  max-width: 768px;
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
}

/* to overwrite header border-bottom style */
.homepage-header {
  border-bottom: 0px solid #222;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

a {
  color: #00e;
  text-decoration: none;
}

pre {
  padding: 1em;
}

ul.menu-item li {
  display: inline-block;
  margin: 5px;
}

nav {
  text-align: right;
}
